In [5]:
#Varaible names cannot start with a number 
#No spaces are allowed in the name
#Cannot use any symbols
#variable names are typically in lower case
#Python uses dynamic tyoing. ex:
my_dogs =2
print(my_dogs)
my_dogs = ["Sammy", "Frankie"]
print (my_dogs)

2
['Sammy', 'Frankie']

In [32]:
#You can use the type() function to check the data type of a variable:
my_dogs = 2
print(my_dogs)
type(my_dogs)


my_dogs = ["Sammy", "Frankie"]
print(my_dogs)
type(my_dogs)

2
['Sammy', 'Frankie']

list

In [9]:
a = 5

In [11]:
a

5

In [12]:
a = 10

In [13]:
a

10

In [14]:
a+a

20

In [17]:
a

40

In [26]:
a = a + a #Equation can be used repeatedly to add the value of a

In [28]:
a

640

In [29]:
type(a)

int

In [33]:
a = 30.1

In [34]:
type(a)

float

In [35]:
#You can restart the kernal to undo errors with variables
my_income = 100
tax_rate = 0.1
my_taxes  = my_income * tax_rate

In [36]:
my_taxes

10.0