In [2]:
import datetime
mytime=datetime.time(2,20)

In [3]:
mytime.minute

20

In [4]:
mytime.hour

2

In [5]:
print(mytime)

02:20:00

In [10]:
# you can also specify microseconds when declaring a time variable 
my_new_time = datetime.time(13,20,1,20000)

In [11]:
print(my_new_time)

13:20:01.020000

In [12]:
type(my_new_time)

datetime.time

In [13]:
today = datetime.date.today()

In [14]:
print(today)

2020-09-21

In [15]:
# you can grab the year, month, day from date.today()
today.year

2020

In [16]:
today.month

9

In [17]:
today.day

21

In [19]:
#grab the ctime() for today 
today.ctime()

'Mon Sep 21 00:00:00 2020'

In [21]:
# To use both date an time  together import datetime from datetime
from datetime import  datetime

In [22]:
reg_time =datetime(2021,10,3,14,20,1)

In [23]:
print(reg_time)

2021-10-03 14:20:01

In [26]:
# you can replace attributes in the info that was first gieven through the use of the replace() function 
new_time = reg_time.replace(year=2020)

In [27]:
print(new_time)

2020-10-03 14:20:01

In [28]:
from datetime import date

In [29]:
date1 = date(2021,11,3)
date2 = date(2020,11,3)

In [30]:
result  = date1 - date2

In [32]:
print(type(result))
print(result)

<class 'datetime.timedelta'>
365 days, 0:00:00

In [33]:
datetime1 = datetime(2021,11,3,22,0)

In [34]:
datetime2 = datetime(2021,11,3,12,0)

In [53]:
difference = datetime1 - datetime2

In [54]:
#get the amt of differnce  in hours
difference

datetime.timedelta(seconds=36000)

In [48]:
difference.seconds

36000

In [57]:
difference.total_seconds()

36000.0