In [1]:
#Lists are ordered sequence that can hold a variety of object types
#They use brackets[] and commas to seperate objects in the list
#They support indexing and slicing and can be nested and also has a variety of methods
my_list =[1,2,3]

In [2]:
#lists can support mixed object types 
my_list = ['String', 100, 23.2]

In [3]:
print(my_list)

['String', 100, 23.2]

In [4]:
#to check the length of a list, use the len() function
len(my_list)

3

In [6]:
# use of indexing and slicing in lists
mylist = ['one', 'two', 'three']

In [7]:
mylist[0]

'one'

In [8]:
#to grab everything in the list starting from index 1
mylist[1:]

['two', 'three']

In [9]:
#concatenate lists
another_list = ['four', 'five']

In [10]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [12]:
#This does not permanently join the two lists
another_list

['four', 'five']

In [13]:
mylist

['one', 'two', 'three']

In [14]:
#to permanently join them, creating another lists that contain the previous two
new_list = mylist + another_list

In [15]:
new_list

['one', 'two', 'three', 'four', 'five']

In [17]:
#list unlike strings, are mutable. You can edit the elements that are in them 
new_list[0] = 'ONE ALL CAPS'

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [19]:
#You can add elements to the end of a list by:
new_list.append('six')

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [21]:
#remove elements at the end of a list by using pop
new_list.pop()

'six'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [25]:
#The element 'six' is no longer there
#You can also assign popped elements to variables
popped_item = new_list.pop()

In [26]:
popped_item

'four'

In [27]:
#To remove elements at a specific index, use
new_list.pop(0)

'ONE ALL CAPS'

In [28]:
new_list

['two', 'three']

In [30]:
#One other usefull method for list is the sort method
new_list = ['a','e', 'x','b','c']
num_list = [4,1,8,3]

In [32]:
new_list.sort()

In [33]:
#this does not return anything but instead reorganizes the list which can be shown by re-running new_list
new_list

['a', 'b', 'c', 'e', 'x']

In [34]:
#common mistakkes for using the sort for list:
my_sorted_list = new_list.sort()

In [35]:
my_sorted_list

In [36]:
#object returns nothing 
#you can run type(my_sorted_list) which says noType
type(my_sorted_list)

NoneType

In [37]:
#There is a special object type in python called None
None

In [38]:
#To correctly assign to my_sorted_list:
new_list.sort()
my_sorted_list = new_list

In [39]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [40]:
#sort num_list
num_list.sort()

In [41]:
num_list

[1, 3, 4, 8]

In [42]:
#You can reverse elements in list by  calling the .reverse function
num_list.reverse()

In [43]:
num_list

[8, 4, 3, 1]

In [1]:
#To grab an element from a nested list you can do the following:
#grab 2 from the nested lists
the_lists = [1,1,[1,2]]

In [2]:
the_lists[2][1]

2

In [8]:
def myfunc(a,b):
    the_sum=sum(a,b)
        return the_sum

IndentationError: unexpected indent (<ipython-input-8-665570e077c5>, line 3)

In [6]:
myfunc(3,5)

TypeError: 'int' object is not iterable