In [1]:
#Strings are immutable in python which means that they cannot be changed
#example:
name = 'Sam' #This strring cannot be changed to the word "Pam" by changing the first character
#The name change can be acheieved through slicing the original name to a new variable and joining it to the new charcter
#with the use if concatenation.
last_letters = name[1:]
print(last_letters)

am

In [3]:
'P' + last_letters

'Pam'

In [10]:
x = "Hello World"
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [20]:
#You can rewrite the string using the methiod:
x  = x + " it is beautiful outside!"

In [21]:
x

'Hello World it is beautiful outside! it is beautiful outside! it is beautiful outside! it is beautiful outside! it is beautiful outside!'

In [23]:
#You can use mathematical methods on strings to produce desired effects:
letter = "z" 
letter * 10

'zzzzzzzzzz'

In [27]:
#You will run into errors when you try to concatenate numbers w/ strings
print(2 + 3)
print('2' + '3')
print('5' + '3')

5
23
53

In [2]:
#objects in python have built in methods and users of python can create their own methods
x = "Hello World"

In [6]:
x.upper() #Method used to change all letters in the string to upper case
#This d0es not permanentky change the string to an upper case word
#In order to do  so, you can re-assign the original variable 
print(x.upper())

HELLO WORLD

In [7]:
x

'Hello World'

In [9]:
x = x.upper()
x

'HELLO WORLD'

In [4]:
x.lower() #changes all letters in the string to lower case

'hello world'

In [64]:
x.split() #Splits a string based on the white spaces

['Hello', 'World']

In [36]:
#redefine x and split the words based on white spaces
x = "Hi this is a string"

In [41]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [2]:

x= "This is just a normal sentence with the use of i's"
x.split('i')
#Split the sentences on the character entered.

['Th', 's ', 's just a normal sentence w', 'th the use of ', "'s"]

In [57]:
#This cell was used to test the use of the printing function with the upper function to print the variable y
y = "This is my first string"
y = y.upper()
y

'THIS IS MY FIRST STRING'

In [1]:
#This cell is used to test the print() function with the upper function in python in jupyter notebooks
y = "This is an example of a string "
y= y.upper()
print(y)

THIS IS AN EXAMPLE OF A STRING