In [1]:
#Tuples are similiar to lists, They however have one key difference which is immutability. 
#Elements inside a tuple cannot be changed 
t=(1,2,3)

In [2]:
my_list =[1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
len(my_list)

3

In [10]:
#you can also mix object types inside a tuple
t= (1, 'One')
print(t)

(1, 'One')

In [11]:
t[0]

1

In [12]:
t[-1]

'One'

In [13]:
t =('a','a','b')

In [14]:
#you can use the count function to count the number of times an element appears in a tuple
t.count('a')

2

In [16]:
#The .undex function returns the index where the element first occured 
t.index('a')

0

In [17]:
t

('a', 'a', 'b')

In [18]:
my_list

[1, 2, 3]

In [19]:
my_list[0] = 'NEW'

In [20]:
my_list

['NEW', 2, 3]

In [21]:
#test that tuples are imutability 
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment