In [1]:
# Lecture covers tuple unpacking in python 
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [2]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [3]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [215]:
# print prices with a 10% increase:
for ticker, price in stock_prices:
    print(price+(price *.10))

220.0
440.0
110.0

In [225]:
# The proceding code is used to filter out the employee with max hours 
work_hours = [('Abby', 100), ('Billy', 4000), ('Cassie', 800)]
nm, hr = work_hours[('Abby', 100), ('Billy', 400), ('Cassie', 800)]

TypeError: list indices must be integers or slices, not tuple

In [226]:
def get_best_emp(emp_data):
    count = 0
    get_the_hrs = []
    get_the_emp = []
    while count < len(emp_data):
        for emp_name, emp_hrs in work_hours:
            get_the_hrs.append(emp_hrs)
            #get_the_emp.append(emp_name)
            count += 1
        greatest = max(get_the_hrs)
        return get_the_hrs.index(greatest)

In [227]:
get_best_emp(work_hours)

1

In [228]:
# Videos solution
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ""
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month, current_max)

In [229]:
employee_check(work_hours)

('Billy', 4000)

In [230]:
# tuple unpackin 
name, hours = employee_check(work_hours)

In [231]:
name

'Billy'

In [232]:
hours

4000

In [233]:
tup = ('Jon',24),('Grace',23),('Bob',49)

In [234]:
tup[1]

('Grace', 23)

In [236]:
for name, age in tup:
    print(name)

Jon
Grace
Bob