In [1]:
s = set()

In [2]:
s.add(1)
s.add(2)

In [3]:
s

{1, 2}

In [4]:
# Clear all elements in a set 
s.clear()

In [5]:
s

set()

In [6]:
s = {1,2,3}

In [8]:
SC = s.copy() #Will not affect the original

In [9]:
SC

{1, 2, 3}

In [13]:
# Use the difference method to show the difference between tow sets
SC.difference(s)

set()

In [14]:
# Use of difference_update() to udate set with the different element from another set
s1 = {1,2,3,4}
s2 = {5,7,9,4}
s1.difference_update(s2)
s1

{1, 2, 3}

In [17]:
# USe the discard() to discard an element 
s1.discard(1)

In [18]:
s1

{2, 3}

In [19]:
s1 = {1,2,3}
s2 = {1,2,4}

In [20]:
s1.intersection(s2)

{1, 2}

In [21]:
s1.intersection_update(s2)

In [22]:
s1

{1, 2}

In [23]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [25]:
# Use of isdisjoint to find common elements between sets
s1.isdisjoint(s2)

False

In [26]:
s1.isdisjoint(s3) #Sets have a null intersection

True

In [27]:
# Find if one  set is a subset to another 
s1.issubset(s2)

True

In [28]:
s2.issuperset(s1)

True

In [29]:
# USe symmetric_differnece() to return the uncommon element in two sets
s1.symmetric_difference(s2)

{4}

In [30]:
# Return a union of both sets
s1.union(s2)

{1, 2, 4}

In [31]:
# Use the update() to add the elements of these iterable to the calling set 
s1.update(s2)

In [32]:
s1

{1, 2, 4}